body {
    font-family: 'Source Sans Pro', sans-serif !important;
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.h1 {
    font-weight: 600 !important;
    text-align: center;
    margin-top: 10vh;
}

.to-do-list {
    margin-top: 5vh;
}

.botao-apagar {
    font-size: 18px;
    font-weight: 600;
    transition: .5s ease-out;
    cursor: pointer;
}

.botao-apagar:hover {
    transform: rotate(20deg);
    transition: .2s ease-in;
}

.btn-outline-secondary {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    color: black;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item p {
    flex-grow: 1;
}

.riscado {
    text-decoration: line-through;
    color: rgb(138, 138, 138);
}

.form-check-input:checked {
    background-color: rgb(138, 138, 138);
    border-color: rgb(138, 138, 138);
}

.background-riscado {
    background-color: rgb(219, 219, 219);
}

.fadeOut {
    opacity: 0;
    transition: 0.5s;
}

input[type="checkbox"] {
    margin-right: 10px !important;
    cursor: pointer;
}

.lista-riscados {
    margin-top: 5vh;
    border-top: 2px solid rgba(80, 80, 80, 0.383);
    padding-top: 2vh;
    position: relative;
}

.seta-baixo,
.seta-cima {
    position: absolute;
    top: 1vh;
    left: 1.7vh;
    opacity: 0.5;
    cursor: pointer;
}

.numero-itens-riscados {
    position: absolute;
    top: 1vh;
    left: 7vh;
    font-style: italic;
    opacity: 0.7;
}

.escondido {
    opacity: 0;
    height: 0px;
}

.menu-dropdown {
    cursor: pointer;
    width: 30px;
    text-align: center;
    margin-right: -5px;
    margin-bottom: 10px;
}