body {
    font-family: 'Source Sans Pro', sans-serif !important;
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.h1 {
    font-weight: 600 !important;
    text-align: center;
    margin-top: 10vh;
}

.to-do-list {
    margin-top: 5vh;
}

.botao-apagar {
    font-size: 18px;
    font-weight: 600;
    color: red;
    transition: .5s ease-out;
    cursor: pointer;
}

.botao-apagar:hover {
    color: black;
    transition: .5s ease-in;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item p {
    flex-grow: 1;
}

.riscado {
    text-decoration: line-through;
}

.fadeOut {
    opacity: 0;
    transition: 0.5s;
}

input[type="checkbox"] {
    margin-right: 10px !important;
    cursor: pointer;
}

.risca-todos,
.apaga-todos,
.desrisca-todos,
.seta-baixo,
.seta-cima {
    font-size: 20px;
    line-height: 16px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    transition: .5s ease-out;
}

.risca-todos:hover,
.apaga-todos:hover,
.desrisca-todos:hover,
.seta-baixo:hover,
.seta-cima:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: .2s ease-in;
}

.risca-apaga-todos {
    opacity: 0;
    height: 0px;
}

.lista-riscados {
    margin-top: 5vh;
    border-top: 2px solid rgba(80, 80, 80, 0.383);
    padding-top: 2vh;
    position: relative;
}

.seta-baixo,
.seta-cima {
    position: absolute;
    top: 1vh;
    left: 1.7vh;
    opacity: 0.5;

}

.numero-itens-riscados {
    position: absolute;
    top: 1vh;
    left: 7vh;
    font-style: italic;
    opacity: 0.7;
}

.escondido {
    opacity: 0;
    height: 0px;
}